<footer id="footer" class="bg-dark text-light py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-6 col-md-6 col-lg-3 mb-2">
                <h6 class="text-uppercase">Tools</h6>
                    <ul class="nav flex-column">
                        <li><a class="text-white" target="ext" rel="nofollow" href="/info" title="Infographics">Infographics</a></li>
                    </ul>
            </div>
            <div class="col-6 col-md-6 col-lg-3 mb-2">
                <h6 class="text-uppercase">More</h6>
                <ul class="nav flex-column">
                    <li><a class="text-white" target="ext" rel="nofollow" href="/info" title="Infographics">Infographics</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-6 mb-2 text-end">
                <h6 class="text-uppercase">Follow</h6>
                <ul class="nav float-end">
                    <li>
                        <a class="text-white me-2" rel="nofollow" href="https://www.linkedin.com/in/vb-software/" title="Follow on Linkedin">
                            <i class="h1 icon-linkedin-circled"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white me" rel="nofollow" href="https://github.com/vb-consulting/PgRoutiner" title="Follow on GitHub">
                            <i class="h1 icon-github-circled"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--/row-->
    </div>
</footer>